/* Content */.content section {font-size: 1.25em; padding: 2em 1em; display: none; max-width: 1230px; margin: 0 auto; }
.content section:before,.content section:after {content: ''; display: table; }
.content section:after {clear: both; }

/* Fallback example */.no-js .content section {display: block; padding-bottom: 2em; border-bottom: 1px solid #448ECC; }
.content section.content-current {display: block; }
.mediabox h3{font-family: 'Roboto Condensed', sans-serif; font-weight:300;}
.mediabox p{font-family: 'Roboto Condensed', sans-serif; font-weight:300; text-align:center; color:#333333; }
/* Example media queries */
.contmobblock{ display:none; background-color:#0B0B0B; padding:14px; text-align:center;}
.contpcblock{ display:block;/* background-color:#0B0B0B;*/ padding:14px; /*text-align:right;*/}
.logomobblock{ display:none; background-color:#FFFFFF; text-align:center;}
.logopcblock{ display:block; background-color:#0B0B0B; text-align:left;}
.row .row {
    margin: 0rem;
    max-width: none;
    width: auto;
}
@media screen and (max-width: 52.375em) {.tabs nav a span {display: none; }
.tabs nav a:before {margin-right: 0; }
.mediabox{text-align:center; color:#0B0B0B; }
.mediabox p{text-align:center; color:#333333; }
.mediabox h3{font-family: 'Roboto Condensed', sans-serif; font-weight:300;}
}
.tab-current i{font-size:30px; }
@media screen and (max-width: 42em) {
.contmobblock{ display:block;}
.contpcblock{ display:none;}
.logomobblock{ display:block;}
.logopcblock{ display:none;}
.smallhide{ display:none;}
#botarrow{ display:none;}
#toparrow{ display:none;}
form{
	background: rgba(0,0,0,0.5)
}
}
@media screen and (max-width: 32em) {.tabs nav ul,.tabs nav ul li a {width: 100%; padding: 0; }
.tabs nav ul li {width: 20%; width: calc(20% + 1px); margin: 0 0 0 -1px; }
.tabs nav ul li:last-child {border-right: none; }
.mediabox{text-align:center; color:#0B0B0B; }
.mediabox p{text-align:center; color:#333333; }
.mediabox h3{font-family: 'Roboto Condensed', sans-serif; font-weight:300;}
}
/*  End  Tab slider CSS  */

body{font-family: 'Roboto Condensed', sans-serif; font-weight:300;}
.land_but_css{border:1px solid #0B0B0B; background-color:#FFFFFF; border-radius:3px; padding:10px 20px; font-weight:bold; cursor:pointer; color:#0B0B0B;}
.land_but_css:hover{border:1px solid #FFFFFF; background-color:#0B0B0B; border-radius:3px; padding:10px 20px; font-weight:bold; cursor:pointer; color:#FFFFFF;}
.land_but_home{border:1px solid #666666; background-color:#0B0B0B; border-radius:3px; padding:10px 20px; font-weight:bold; cursor:pointer; color:#CCCCCC;}
.land_but_home:hover{border:1px solid #CCCCCC; background-color:#000000; border-radius:3px; padding:10px 20px; font-weight:bold; cursor:pointer; color:#FFFFFF;}

.land_course li{ list-style:none; font-size:20px;}
.land_course{ margin-left:0px;}
.land_tbox{background-color:#FFFFFF; border-radius:3px; padding:7px; margin-top:13px;}

.imgcss{ position:relative; clear:both; cursor:pointer;}
.imgtb{ width:228px; height:50px; clear:both;}
.imgtb td{ text-align:center;}
.imgdiv{ display:none; opacity:0}
#topdiv{display:none;}
#botdiv{display:none;}
#grow:hover { -webkit-transform: scale(1.5);        -ms-transform: scale(1.5);        transform: scale(1.5); }
#small-two { display:block; }
#rib-logo { top:-83px; }
#need-id { text-align:center; }
.foot-text { margin-top:20px;}
@media screen and (max-width:1050px) { #small-two { display:none } } 
@media screen and (max-width:1100px)  { #rib-logo  { top : -114px; }}
@media screen and (max-width:1000px)  {#need-id { text-align:left; }  }
@media screen and (max-width:1000px)  { .contmobblock img{ display:none }} 